.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      - website = "Car Pooling"
      = link_to website, root_path, class: "navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.pull-right
        - if user_signed_in?
          %li.white
            Logged in as
            %strong= current_user.email
          - if current_user.profile.present? && current_user.address.present?
            %li.dropdown
              %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
                Car pool
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "My car pool", car_pools_path
                %li
                  = link_to "Search", car_pools_search_path, class: 'map-load'
              - if current_user.admin?
                %li
                  = link_to "School", schools_index_path
                %li
                  = link_to "Request", requests_path
              -else
                %li
                  = link_to "Request", new_request_path
            %li
              = link_to "Student", students_index_path
            %li
              = link_to 'Invitation', invitations_path
            %li.dropdown
              %a.dropdown-toggle{ "data-toggle" => "dropdown", href: "#" }
                Account
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to "Profile", edit_user_registration_path
                %li
                  = link_to "Personal Details", edit_profile_path
                %li
                  = link_to "Address", edit_address_path
          %li
            = link_to "Logout", destroy_user_session_path, method: :DELETE
        - else
          %li
            = link_to "Sign In", new_user_session_path